*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #2D415E;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

p {
  font-size: 16px;
  line-height: 29px;
  color: #545454;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  height: 83px;
}

.header__menu li {
  text-align: center;
  width: 101px;
  position: relative;
}
.header__menu li a {
  width: 100%;
}
.header__menu li + li {
  padding-left: 10px;
}
.header__menu li:hover {
  font-weight: 600;
}

.header__menu-btn {
  display: none;
}

.dropdown__content {
  height: 0;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  width: 200px;
  background-color: #fff;
  border: 1px solid #e8ebf1;
  padding: 10px 5px;
  z-index: 3;
  left: -40px;
}
.dropdown__content li + li {
  padding-left: 0;
}
.dropdown__content li {
  width: 100%;
}
.dropdown__content li a {
  text-align: center;
}
.dropdown__content a:hover {
  background-color: #FFCC2A;
}

.header__dropdown:hover .dropdown__content {
  height: auto;
  overflow: visible;
  opacity: 1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.header__dropdown {
  position: relative;
}
.header__dropdown.header__dropdown-blog {
  padding-left: 0;
}
.header__dropdown a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-align: left;
}
.header__dropdown:hover .dropdown__content {
  display: block;
}

a.dropdown__link {
  position: relative;
  border: none;
  background-color: transparent;
  text-align: center;
  width: 74px;
}
a.dropdown__link:hover::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
a.dropdown__link.dropdown__link-blog::after {
  content: '';
  right: 23px;
  top: 20px;
}
a.dropdown__link:hover {
  font-weight: 600;
}
a.dropdown__link::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../images/drop-down.svg");
  width: 7px;
  height: 5px;
  right: 10px;
  top: 21px;
}

a.dropdown__link.dropdown__link-language::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../images/down_arrow.svg");
  width: 11.8px;
  height: 6px;
  right: -5px;
  top: 21px;
}

.header__tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__search {
  display: block;
  margin-left: 20px;
  position: relative;
}
.header__search img {
  position: absolute;
  top: 15px;
}

.header__language {
  position: relative;
  max-width: 100px;
  width: 100%;
}
.header__language a {
  padding-right: 19px;
}
.header__language .dropdown__content {
  width: 200px;
}

.preview {
  background-color: #FDFDFD;
}

.preview__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-left: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.preview__images {
  max-width: 981px;
  width: 100%;
  height: 675px;
  position: absolute;
  right: -105px;
  top: -2px;
}

.preview__information {
  padding-top: 111px;
  position: relative;
  z-index: 1;
}
.preview__information p {
  max-width: 524px;
  width: 100%;
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 56px;
  color: #565656;
}

h1 {
  max-width: 560px;
  width: 100%;
  font-size: 60px;
  line-height: 74px;
  font-family: 'Georgia', sans-serif;
  font-weight: 400;
  margin-bottom: 24px;
  color: #2C2C2C;
}

.preview__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 125px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn__yellow {
  max-width: 215px;
  width: 100%;
  border-radius: 31px;
  background-color: #FFCC2A;
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 600;
  text-align: center;
  padding: 19px 0 18px;
  margin-right: 20px;
}

.btn__touch {
  max-width: 215px;
  width: 100%;
  border-radius: 31px;
  border: 1px solid #2D415E;
  font-size: 18px;
  line-height: 24.5px;
  font-weight: 600;
  text-align: center;
  padding: 19px 0 18px;
}

.achievements__inner {
  padding-top: 93px;
  margin-bottom: 80px;
}

.achievements__banner {
  background-image: url(../images/achievements/background.svg);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  height: 304px;
  position: relative;
  margin-bottom: 143px;
}
.achievements__banner::before {
  content: "";
  background-image: url(../images/achievements/lime.svg);
  width: 62px;
  height: 77px;
  position: absolute;
  left: -83px;
  top: -29px;
}

.banner__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 99px;
}

.banner__item:first-child {
  padding-left: 96px;
}

.banner__item-mobile {
  display: none;
}

.banner__item-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #FFFAEC;
  padding-right: 92px;
}

.banner__item-text {
  font-size: 60px;
  line-height: 82px;
  color: #FFCD00;
  font-weight: 600;
}

.achievements__banner-img {
  position: absolute;
  width: 406px;
  height: 355px;
  right: -10px;
  top: -26px;
}

.achievements__text {
  font-size: 48px;
  line-height: 55px;
  font-family: 'Georgia', sans-serif;
  text-align: center;
  position: relative;
  color: #2C2C2C;
}
.achievements__text::before {
  content: "";
  background-image: url(../images/achievements/circle.svg);
  width: 72px;
  height: 72px;
  position: absolute;
  right: 31px;
  top: -8px;
}

.funding {
  background-color: #F8F8F8;
}

.funding__inner {
  position: relative;
}

.funding__information {
  padding: 105px 0;
}
.funding__information p {
  max-width: 462px;
  width: 100%;
  margin-bottom: 56px;
}

.funding__information-title {
  font-size: 48px;
  line-height: 64px;
  font-family: 'Georgia', sans-serif;
  color: #2C2C2C;
  max-width: 454px;
  width: 100%;
  margin-bottom: 24px;
}

.funding__images {
  position: absolute;
  right: -25px;
  top: 98px;
}

.funding__btn-mobile {
  display: none;
}

.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
}

.services__information {
  padding: 135px 0;
}
.services__information p {
  max-width: 473px;
  width: 100%;
  margin-bottom: 56px;
}

.services__information-title {
  font-size: 48px;
  line-height: 64px;
  font-family: 'Georgia', sans-serif;
  color: #2C2C2C;
  max-width: 373px;
  width: 100%;
  margin-bottom: 24px;
}

.services__inner img {
  position: absolute;
  top: 116px;
  left: -37px;
}

.services__btn-mobile {
  display: none;
}

.video__title {
  padding-top: 149px;
  text-align: center;
  font-size: 48px;
  line-height: 64px;
  font-family: 'Georgia', sans-serif;
  color: #2C2C2C;
  margin-bottom: 76px;
}

.slider {
  padding-bottom: 152px;
  position: relative;
}

.slider__item {
  text-align: center;
}

.slider__item-images {
  position: relative;
}
.slider__item-images::before {
  content: "";
  background-image: url(../images/video/play__btn.svg);
  width: 60px;
  height: 60px;
  position: absolute;
  top: 107px;
  right: 133px;
}

.slider__item-text {
  padding-top: 21px;
  font-size: 20px;
  line-height: 26px;
  max-width: 296px;
  width: 100%;
  text-align: left;
}

.svg__prev {
  position: absolute;
  top: 108px;
  left: -40px;
  fill: #C0C2C3;
}
.svg__prev:hover {
  fill: #FFCC2A;
}

.svg__next {
  position: absolute;
  top: 108px;
  right: -40px;
  fill: #C0C2C3;
}
.svg__next:hover {
  fill: #FFCC2A;
}

.information__inner {
  position: relative;
  padding-top: 64px;
}

.information__title {
  text-align: center;
  font-size: 48px;
  line-height: 64px;
  font-family: 'Georgia', sans-serif;
  color: #2C2C2C;
  max-width: 642px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.information__title::before {
  content: "";
  background-image: url(../images/information/decor__one.svg);
  width: 128px;
  height: 151px;
  position: absolute;
  top: 49px;
  left: -168px;
}
.information__title::after {
  content: "";
  background-image: url(../images/information/decor__three.svg);
  width: 131px;
  height: 118px;
  position: absolute;
  top: 163px;
  left: 9px;
}

.card {
  padding-bottom: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__inner {
  margin: 0 auto;
  background-image: url(../images/information/cards.svg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 874px;
  width: 100%;
  height: 511px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.card__inner::after {
  content: "";
  background-image: url(../images/information/decor__two.svg);
  width: 99px;
  height: 101px;
  position: absolute;
  top: 34px;
  right: -127px;
}
.card__inner::before {
  content: "";
  background-image: url(../images/information/decor__four.svg);
  width: 62px;
  height: 78px;
  position: absolute;
  top: 322px;
  right: -185px;
}

.card__cotacts {
  padding-left: 40px;
  color: #fff;
  margin-top: 51px;
}
.card__cotacts a {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  padding-left: 24px;
  display: block;
}

.card__cotacts.card__cotacts-mobile {
  display: none;
}

.cotacts__item-media {
  margin-top: 80px;
}

.contacts__title {
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 31px;
  width: 257px;
}

.contacts__phone {
  margin-bottom: 12px;
  position: relative;
}
.contacts__phone::after {
  content: '';
  background-image: url(../images/information/phone.svg);
  width: 11px;
  height: 10px;
  position: absolute;
  top: 7px;
  left: 0;
}

.contacts__mail {
  margin-bottom: 6px;
  position: relative;
}
.contacts__mail::after {
  content: '';
  background-image: url(../images/information/mail.svg);
  width: 12px;
  height: 9px;
  position: absolute;
  top: 9px;
  left: 0;
}

.card__form {
  margin-left: 86px;
  padding-top: 45px;
  max-width: 465px;
  width: 100%;
}
.card__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card__form form input {
  border: none;
  background-color: transparent;
  margin-bottom: 8px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
.card__form form .btn__yellow {
  margin-top: 14px;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px 0;
}
.card__form form .btn__yellow input {
  font-weight: 600;
  line-height: 27px;
}

.card__form-title {
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 53px;
  color: #2C2C2C;
}

.card__form-name,
.card__form-email,
.card__form-message {
  width: 100%;
  border-bottom: 1px solid #2C2C2C;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 42px;
}

.footer {
  background-color: #F8F8F8;
}

.footer__wrapper {
  border-bottom: 1px solid #D0D0D0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 29px;
}
.footer__inner a {
  color: #2C2C2C;
}

.footer__menu-title,
.footer__services-title,
.footer__contact-title,
.footer__social-title {
  font-size: 20px;
  line-height: 27px;
  color: #2C2C2C;
}

.footer__navigation {
  margin-top: 15px;
}
.footer__navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__navigation ul li + li {
  margin-top: 12px;
}

.footer__services-links {
  margin-top: 24px;
}
.footer__services-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__services-links ul li + li {
  margin-top: 12px;
}

.footer__contact-info {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 21px;
}
.footer__contact-info a {
  font-size: 16px;
  line-height: 22px;
}
.footer__contact-info a + a {
  margin-top: 12px;
}

.footer__contact-tel {
  position: relative;
}
.footer__contact-tel::after {
  content: '';
  background-image: url(../images/footer/phone.svg);
  position: absolute;
  width: 11px;
  height: 11px;
  top: 6px;
  left: -20px;
}

.footer__contact-email {
  position: relative;
}
.footer__contact-email::after {
  content: '';
  background-image: url(../images/footer/mail.svg);
  width: 12px;
  height: 9px;
  position: absolute;
  top: 9px;
  left: -21px;
}

.footer__social-icon {
  margin-top: 23px;
}
.footer__social-icon a + a {
  margin-left: 5px;
}

.footer__down {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  margin: 16px 0px 17px;
}

@media (max-width: 1315px) {
  .achievements__banner {
    margin-bottom: 400px;
  }
  .achievements__banner::before {
    display: none;
  }

  .information__title::before {
    display: none;
  }

  .card__inner::before, .card__inner::after {
    display: none;
  }

  .achievements__banner-img {
    margin: 0 auto;
    padding-top: 130px;
  }
}
@media (max-width: 1240px) {
  .svg__next,
  .svg__prev {
    display: none;
  }
}
@media (max-width: 1165px) {
  .preview__inner {
    padding-left: 0;
  }

  .preview__information {
    margin: 0 auto;
    padding-top: 75px;
  }

  .preview__images {
    position: static;
    margin: 0 auto;
    height: auto;
  }

  .preview__btn {
    margin-bottom: 80px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .achievements__banner-img {
    position: static;
  }

  .funding__images {
    position: static;
  }
  .funding__images img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .funding__information {
    padding-top: 41px;
    padding-bottom: 25px;
  }
  .funding__information > p,
  .funding__information .funding__information-title {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
  }

  .funding__information-title {
    padding-bottom: 26px;
  }

  .funding__btn {
    display: none;
  }

  .funding__btn-mobile {
    display: block;
    margin-top: 53px;
    padding-bottom: 32px;
  }
  .funding__btn-mobile .btn__yellow {
    margin: 0 auto;
  }

  .services__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .services__inner img {
    position: static;
    display: block;
    width: 100%;
    margin: 0 auto;
  }

  .services__btn .btn__yellow {
    margin: 15px auto;
  }

  .services__information {
    padding: 40px 0;
  }
  .services__information > p,
  .services__information .services__information-title {
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
  }
}
@media (max-width: 1020px) {
  .preview__images img {
    display: block;
    width: 100%;
  }
}
@media (max-width: 960px) {
  .header__menu-btn {
    display: block;
  }

  .header__menu {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    z-index: 3;
  }
  .header__menu li + li {
    padding-left: 0;
    padding-top: 10px;
  }
  .header__menu li {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 20px;
    line-height: 25px;
  }
  .header__menu li a {
    width: 100%;
  }

  .header__list {
    background-color: #FFCC2A;
  }
  .header__list li {
    border-bottom: 1px solid #2C2C2C;
    padding: 10px 0;
  }

  .header__tools {
    display: none;
  }

  a.dropdown__link::after {
    right: 44%;
    top: 50%;
  }

  a.dropdown__link.dropdown__link-blog::after {
    right: 46%;
    top: 50%;
  }

  ul.dropdown__content {
    position: relative;
    top: 11px;
    border: transparent;
    padding: 0;
    background-color: #FFCC2A;
  }
  ul.dropdown__content.active {
    height: auto;
    display: block;
    overflow: visible;
    opacity: 1;
    -webkit-transition: all .5s;
    transition: all .5s;
    width: 100%;
  }

  .header__dropdown:hover .dropdown__content {
    display: none;
  }

  .header__dropdown:hover .dropdown__content.active {
    display: block;
  }

  .header__dropdown a {
    padding: 0;
  }

  .achievements__inner {
    padding-top: 40px;
  }

  .banner__items {
    padding-top: 50px;
  }

  .banner__item:first-child {
    padding-left: 130px;
  }

  .slider {
    padding-bottom: 80px;
  }

  .information__title::after {
    display: none;
  }

  .card {
    padding-bottom: 0;
  }

  .card__inner {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background-image: none;
  }

  .card__cotacts.card__cotacts-mobile {
    display: block;
    background-image: url(../images/mobile/background__card.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    padding-left: 0;
    top: -70px;
  }
  .card__cotacts.card__cotacts-mobile .contacts__title {
    padding-top: 60px;
    margin: 0 auto;
    margin-bottom: 23px;
  }
  .card__cotacts.card__cotacts-mobile .card__cotacts-item {
    margin: 0 auto;
    max-width: 260px;
    width: 100%;
  }
  .card__cotacts.card__cotacts-mobile a + a {
    margin-top: 6px;
  }

  .cotacts__item-media {
    position: relative;
  }
  .cotacts__item-media .contacts__title {
    padding-top: 48px;
  }
  .cotacts__item-media::after {
    content: "";
    background-color: #fff;
    width: 45px;
    height: 2px;
    position: absolute;
    top: 23px;
    left: 0;
  }
  .cotacts__item-media .contacts__mail {
    padding-bottom: 60px;
  }

  .card__cotacts {
    display: none;
  }

  .dropdown__content {
    left: inherit;
  }

  .card__form {
    margin: 0 auto;
    background-color: #F8F8F8;
    width: 100%;
    max-width: none;
    border-radius: 10px;
    position: relative;
    z-index: 4;
  }
  .card__form form {
    padding: 0 24px;
  }
  .card__form form .btn__yellow {
    margin-bottom: 60px;
  }

  .card__form-title {
    text-align: center;
  }

  .footer__inner {
    padding-top: 60px;
  }
}
@media (max-width: 805px) {
  .achievements__text::before {
    display: none;
  }

  .banner__item-mobile {
    display: block;
    margin-bottom: 48px;
  }
  .banner__item-mobile img {
    width: 100%;
    margin: 0 auto;
  }

  .achievements__banner {
    display: none;
  }

  .achievements__inner {
    margin-bottom: 32px;
  }

  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__social {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 750px) {
  a.dropdown__link::after {
    right: 42.5%;
    top: 50%;
  }

  a.dropdown__link.dropdown__link-blog::after {
    right: 44%;
    top: 50%;
  }

  .video__title {
    padding-top: 60px;
  }
}
@media (max-width: 700px) {
  .footer__contact {
    width: 100%;
  }

  .footer__social {
    width: 100%;
  }
  .footer__social .footer__social-title {
    display: none;
  }
}
@media (max-width: 600px) {
  a.dropdown__link::after {
    right: 40%;
    top: 50%;
  }

  .preview__information {
    padding-top: 60px;
    text-align: center;
  }
  .preview__information h1 {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 35px;
  }

  .funding__information .funding__information-title {
    font-size: 26px;
    line-height: 30px;
  }
  .funding__information p {
    font-size: 16px;
    line-height: 29px;
  }

  .services__information .services__information-title {
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 27px;
  }
  .services__information p {
    font-size: 16px;
    line-height: 29px;
  }

  .video__title {
    font-size: 32px;
    line-height: 36px;
  }

  .information__title {
    font-size: 40px;
    line-height: 45px;
  }

  .footer__services {
    width: 100%;
    margin-bottom: 40px;
  }

  .footer__logo {
    width: 100%;
    margin-bottom: 40px;
  }

  .footer__navigation {
    margin-bottom: 40px;
  }

  .footer__services-links ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__services-links ul li + li {
    margin-top: 0;
  }
  .footer__services-links ul li {
    padding-right: 24px;
    padding-top: 16px;
  }

  .footer__menu ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__menu ul li + li {
    margin-top: 0;
  }
  .footer__menu ul li {
    padding-right: 24px;
    padding-top: 16px;
  }

  .footer__social-icon {
    margin-top: 41px;
  }

  .footer__down {
    margin-top: 28px;
  }
}
@media (max-width: 480px) {
  .preview__btn {
    margin-bottom: 23px;
  }
  .preview__btn .btn__yellow {
    margin: 0 10px 24px;
  }
  .preview__btn .btn__touch {
    margin: 0 10px;
  }

  .achievements__text {
    font-size: 32px;
    line-height: 36px;
  }
}
@media (max-width: 450px) {
  a.dropdown__link::after {
    right: 36%;
    top: 50%;
  }

  a.dropdown__link.dropdown__link-blog::after {
    right: 41%;
    top: 50%;
  }

  .services__btn {
    display: none;
  }

  .services__btn-mobile {
    display: block;
  }
  .services__btn-mobile .btn__yellow {
    margin: 30px auto;
  }
}
@media (min-width: 960px) {
  .header__menu {
    display: block;
  }

  .header__tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
